<div class="main">
    <h1>Select data</h1>
    <child-app [(userLogin)]="login" [(userPassword)]="password"></child-app>
        <div class="col-xs-8"> 
            <div class="form-group">
            <h3>Selected</h3>
                <input type="text" class="form-control inputBar" disabled  placeholder="Login" [(ngModel)]="login">
                <input type="password" class="form-control inputBar" disabled   placeholder="Password" [(ngModel)]="password">
                <button class="btn btn-success submitButton" (click)="submit(login,password)">Submit</button>
            </div>
            <div class="form-group">
                    <h3>Response</h3>
                        <input type="text" class="form-control inputBar" disabled [(ngModel)]="responseLogin">
                        <input type="text" class="form-control inputBar" disabled [(ngModel)]="responsePassword">
            </div>
        </div>
</div>

